@page
@model BarberShop.Pages.Shops.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.End)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shop.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
