@page
@model BarberShop.Pages.Consumers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consumer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer.Email)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumer.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumer.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumer.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Consumer.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
